<div xmlns:th="http://www.thymeleaf.org">
    <nav>
                  <div>
                      <a th:href="@{/}">Home Page</a>
                      <a th:href="@{|/todos/all/users/${#authentication.principal.id}|}"> My To-Dos</a>
                      <a th:href="@{/users/all}">List of Users</a>
                      <h3> Hello </h3> <a th:href="@{|/users/${#authentication.principal.id}/read|}"
                                          th:text="${#authentication.principal.firstName}"> </a>
                      <h3> ! </h3>
                      <form action="/logout" method="POST">
                          <button type="submit">Logout</button>
                      </form>
                  </div>
    </nav>
</div>
