<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Login page</title>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/login-form">
        <h2 class="form-signin-heading"> LogIn Page</h2>
        <p th:if="${param.error}" style="font-size: larger;">
            Username or password is not correct!
        </p>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <br>
        <br>
    </form>
    <br>
    <br>
    <p><span style="font-size: larger;">Don't have an account? <a href="@{|/users/create|}">Register now!</a></span></p>
</div>
</body>
</html>